<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <title>Catwalk</title>
  <meta name="description" content="Putting the M in MVC since 2012">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/styles/css/base.css">
  <link rel="stylesheet" href="/styles/css/skeleton.css">
  <link rel="stylesheet" href="/styles/css/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">

  <style type="text/css">
    .lu-state-selected {
      background: #cde;
    }
    body {
      padding-top: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <section>
    <header>
      <h3>Mutation</h3>
    </header>
    <div class="content">
      <div data-lu="Carousel">
        <ul id="list" >
          <li data-lu="Switch" class="lu-state-selected">
            <h2>1</h2>
          </li>
          <li data-lu="Switch">
            <h2>290</h2>
          </li>
          <li data-lu="Switch">
            <h2>895</h2>
          </li>
        </ul>
        <button type="button" data-lu="Button:Previous">Previous</button>
        <button type="button" data-lu="Button:Next">Next</button>
      </div>
      <button type="button" id="ListButton">Add li to DOM</button>
      <br/>
      <div id="switches">

      </div>

      <button type="button" id="SwitchButton">Add Switch to DOM</button>
    </div>
  </section>
</div>

<script src="/scripts/libraries/fiber/1.0.4/fiber.min.js"></script>
<script src="/scripts/libraries/underscore/1.4.2/underscore.js"></script>
<script src="/scripts/libraries/inject/0.4.0/inject.min.js"></script>
<script src="/scripts/libraries/jquery/1.8.2/jquery-1.8.2.min.js"></script>

<script src="/scripts/lu-config.js" type="text/javascript"></script>
<script src="/scripts/libraries/lu/0.4.0/lu.js"></script>
<script src="/scripts/libraries/lu/0.4.0/map.js"></script>

<script src="/scripts/application.js"></script>

</body>
</html>