<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <title>Catwalk</title>
  <meta name="description" content="Putting the M in MVC since 2012">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/styles/css/base.css">
  <link rel="stylesheet" href="/styles/css/skeleton.css">
  <link rel="stylesheet" href="/styles/css/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">

</head>
<body>
<div class="container">
  <section>
    <header>
      <h3>Catwalk 0.0.1</h3>
    </header>
    <div class="content">
      <table id="contacts">
        <thead>
          <tr>
            <th id="id-header"><a href="#id" role="button">Id</a></th>
            <th id="age-header"><a href="#age" role="button">Age</a></th>
            <th id="admin-header"><a href="#admin" role="button">Admin</a></th>
            <th id="name-header"><a href="#name" role="button">Name</a></th>
            <th id="company-header"><a href="#company" role="button">Company</a></th>
            <th id="date-header"><a href="#date" role="button">Date</a></th>
          </tr>
        </thead>
      </table>
    </div>
  </section>
</div>

<script src="/scripts/libraries/fiber/1.0.4/fiber.min.js"></script>
<script src="/scripts/libraries/underscore/1.4.2/underscore.js"></script>
<script src="/scripts/libraries/inject/0.4.0/inject.min.js"></script>
<script src="/scripts/libraries/jquery/1.8.2/jquery-1.8.2.min.js"></script>

<script src="/scripts/lu-config.js" type="text/javascript"></script>
<script src="/scripts/libraries/lu/0.4.0/lu.js"></script>
<script src="/scripts/libraries/lu/0.4.0/map.js"></script>

<script src="/scripts/libraries/catwalk/0.0.1/model.js"></script>

</body>
</html>